html {
    scroll-behavior: smooth;
}
.title {
    background-color: #f1f8f6;
    font-family: "Montserrat";
}
.container {
    padding: 3% 20%;
    position: relative;
}
.navbar{
    position: fixed;
    top: 0;
    width: max-width;
}
.nav-item{
    font-family: "Montserrat";
    padding: 0 1.125em;
}
.navbar-brand {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1rem !important;
    color: chocolate !important;
}
.navbar-brand:hover {
    color: green !important;
}
.navbar-nav {
    padding-right: 5%;
}

.nav-item a {
    position: relative;
}
.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    width: 80%;
    height:2px;
    background: #fd4766;
    transition: .5s;
    bottom: 0;
}
.nav-link:hover{
    transition: 0.5s ease-in-out;
    background-color: rgb(12, 82, 12);
    color: white !important;
}
.send-email{
    text-decoration: none;
    position: absolute;
    left: 24rem;
    filter: opacity(0.8);
    font-size: 0.813rem;
}
.header-note p{
    font-family: "Montserrat" sans-serif;
}
.myProfession {
    color: #4958b0;
    text-transform: capitalize;
    height: 5rem;
    text-align: center;
}
.fad {
    margin-left: 5%;
    margin-top: 4%;
}
h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 3rem !important;
    text-shadow: brown;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}
h2{
    color: #4958b0;
}
h4{
    font-family: "Montserrat";
    font-weight: 600;
}
.header-image {
    top: 7.2rem;
    position: absolute;
    right: 2rem;
    object-fit: cover;
    border-radius: 50%;
}
.skills {
    margin: 0;
    background-color: white;
    text-align: center;
}
.skills-topic {
    text-align: center;
    margin-bottom: 1.3rem;
    color: rgb(9, 95, 9);
}
.fa-icon {
    color: #8ab6d6;
    margin-right: 12rem;
    
}
.fa-icon:hover {
    color: #4958b0;
}
.reviews {
    text-align: center;
    font-weight: 500;
}
.card-title {
    font-family: "Montserrat";
    color: rgb(9, 95, 9);
}
.card-text {
    font-family: "Montserrat";
    font-size: 0.8rem;
}
.card-body > span {
    color: yellow;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.reviews-text {
    margin-top: 4%;
    font-size: 1.1rem;
    line-height: 1.4;
}
.reviews-image {
    border-radius: 100px;
} 
.about {
    text-align: center;
    font-weight: 400;
}
.about-text{
    background-color: white;
    text-align: center;
    line-height: 2em;
    width: 30%;
}
.about-text > p {

    line-height: 1.5em;
    text-align: center;
    font-size: 1em;
    color: rgb(100, 49, 49);
}
.contacts{
    text-align: center;
}
.contact-group {
    margin-top: 5rem;
}
.contact-group > li {
    padding: 1.1rem;
    font-size: 1.0rem;
    font-family: "Montserrat";
    letter-spacing: 0.2rem;
    color: rgb(61, 3, 3);
    line-height: 1.5em;
}
input {
    width: 65%;
    margin: 7% 0 0 2%;
    border: none;
    border-bottom: 1px solid rgb(43, 27, 27);
}
input:nth-child(1) {
    margin-bottom: 10px;
}
textarea{
    /* margin: 7% 0 5% 20% !important; */
    border: 1px solid rgb(43, 27, 27);
}
input:focus{
    outline: none;
    border-bottom: 2px solid #007bff;
}
textarea:focus {
    outline: none;
    border: 2px solid #007bff;
}
form > i {
    line-height: 1.5em;
}

@media only screen and (max-width:960px) {
    .header-note{
        width: 35%;
        text-align: center;
        line-height: 1.5;
    }
    .myProfession{
        margin-top: 8%;
    }
    .header-image{
        width: 18.8rem;
        height: 23.23rem;
        position: relative;
        left: 2.8rem;
        object-fit: scale-down;
    }
    .fa-js {
        margin-bottom: 1.875rem;
    }
}
@media only screen and (max-width:768px) {
    .myProfession {
        margin-top: 0;
        width: unset;
    }
    .header-note{
        text-align: center;
    }
    .header-image{
        margin: auto;
        display: none;
    }
}
@media screen and (max-width:480px) {
    .header-image{
        display: none;
    }
}
.fab {
    margin: 0 2% 3%;
}
.fab:hover{
    transform: translateX(-4px);
}
.footer_link {
    padding: .25rem 0;
}
.footer_link:hover {
    color: #5361ff;
}
.footer_social {
    font-size: 1.4rem;
    margin-right: 0.5rem;
}
.footer_social:hover {
    color: #5361ff;
}
li a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}