html {
    scroll-behavior: smooth;
}
.title {
    background-color: #f1f8f6;
    font-family: "Montserrat";
}
.container {
    padding: 3% 20%;
}
.nav-item{
    font-family: "Montserrat";
    padding: 0 1.125em;
}
.navbar-brand {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1rem !important;
    color: chocolate !important;
}
.navbar-brand:hover {
    color: green !important;
}
.navbar-nav {
    padding-right: 5%;
}

.nav-item a {
    position: relative;
}
.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    width: 80%;
    height:2px;
    background: #fd4766;
    transition: .5s;
    bottom: 0;
}
.nav-link:hover{
    transition: 0.5s ease-in-out;
    background-color: rgb(12, 82, 12);
    color: white !important;
}
.row {
    padding-top: 7%;
    padding-left: 2%;
}
.header-note p{
    font-family: "Montserrat" sans-serif;
}
.myProfession {
    color: #4958b0;
    text-transform: capitalize;
}
.fad {
    margin-left: 5%;
    margin-top: 4%;
}
h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 3rem !important;
    text-shadow: brown;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}
h2{
    color: #4958b0;
}
h4{
    font-family: "Montserrat";
    font-weight: 600;
}
p {
    line-height: 1.6;
    filter: opacity(0.8);
    font-size: 0.813rem;
}
.header-image {
    left: 40px;
    object-fit: cover;
}
.header-img {
    margin-left: 60%;
}

.skills {
    margin: 0;
    background-color: white;
    padding: 5% 5%;
    text-align: center;
}
.skill-item {
    padding: 1% 10%;
    background-color: #f9fcfb;
}
.fa-icon {
    margin-bottom: 10%;
    color: #8ab6d6;
}
.fa-icon:hover {
    color: #4958b0;
}
.reviews {
    text-align: center;
    background-color: #e3e3e3;
    padding: 5% 5%;
    font-weight: 500;
}
/* .reviews-container {
    padding: 0 15%;
} */
.reviews-text {
    margin-top: 4%;
    font-size: 1.1rem;
    line-height: 1.4;
}
.reviews-image {
    border-radius: 100px;
    margin-top: 8%;
}
.about {
    text-align: center;
    padding: 5% 5%;
    font-weight: 400;
    margin-bottom: 10%;
}
.about-text{
    background-color: #f1f8f6;
    text-align: center;
    padding-top: 7%;
    width: 40%;
}
.contacts{
    text-align: center;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact_subtitle {
    color: #222831 !important;
    padding: 5% 0 3%;
}
input {
    width: 65%;
    margin: 7% 0 0 2%;
    border: none;
    border-bottom: 1px solid rgb(43, 27, 27);
}
input:nth-child(1) {
    margin-bottom: 10px;
}
textarea{
    margin: 7% 0 5% 20% !important;
    border: 1px solid rgb(43, 27, 27);
}
input:focus{
    outline: none;
    border-bottom: 2px solid #007bff;
}
textarea:focus {
    outline: none;
    border: 2px solid #007bff;
}
.btn {
    padding: 7% 5%;
    margin-left: 40%;
}

@media only screen and (max-width:960px) {
    .header-note{
        width: 35%;
        text-align: center;
        line-height: 1.5;
    }
    .myProfession{
        margin-top: 8%;
    }
    .header-image{
        width: 18.8rem;
        height: 23.23rem;
        position: relative;
        left: 2.8rem;
        object-fit: scale-down;
    }
    .fa-js {
        margin-bottom: 1.875rem;
    }
}
@media only screen and (max-width:768px) {
    .myProfession {
        margin-top: 0;
        width: unset;
    }
    .header-note{
        text-align: center;
    }
    .header-image{
        margin: auto;
    }
}
.footer {
    text-align: center;
    background-color: #f9fcfb;
    font-weight: 500;
    padding: 2% 5%;
    margin-top: 5%;
}
.fab {
    margin: 0 2% 3%;
}
.fab:hover{
    transform: translateX(-4px);
}
.copyright{
    margin-top: 10%;
}
.footer-container {
    max-width: 64rem;
    display: flex;
    /* grid-template-columns: auto auto auto; */
    /* grid-column-gap: 2rem; */
    width: 30%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.footer_title {
    font-size: 0.938rem;
    margin-right: 1rem;
}
.footer_link {
    padding: .25rem 0;
}
.footer_link:hover {
    color: #5361ff;
}
.footer_social {
    font-size: 1.4rem;
    margin-right: 0.5rem;
}
.footer_social:hover {
    color: #5361ff;
}
li a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}